pkgbase = sidra-bin
	pkgdesc = An elegant Apple Music desktop client for Linux. No frippery, just quality.
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/wimpysworld/sidra
	arch = x86_64
	license = BlueOak-1.0.0
	depends = alsa-lib
	depends = at-spi2-core
	depends = dbus
	depends = glib2
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libdrm
	depends = libnotify
	depends = libsecret
	depends = libx11
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxrandr
	depends = libxtst
	depends = mesa
	depends = nspr
	depends = nss
	optdepends = libappindicator-gtk3: system tray / indicator icon support
	optdepends = playerctl: CLI media control via MPRIS
	optdepends = pipewire: PipeWire audio backend
	optdepends = pulseaudio: PulseAudio backend
	optdepends = xdg-utils: open links in the default browser
	provides = sidra
	conflicts = sidra
	options = !strip
	source_x86_64 = sidra-bin-0.4.0.AppImage::https://github.com/wimpysworld/sidra/releases/download/0.4.0/Sidra-linux-x86_64.AppImage
	sha256sums_x86_64 = 8ad1b40e6fc80fbf525ecdbc407a079193b7276b02cd704dc815f58306fd6766

pkgname = sidra-bin
